input[type="file"] + label {
  color: white;
  font-family: monospace;
  font-weight: 700;
  border-radius: 2px;
  background: red;
  padding: 4px;
  cursor: pointer;
  display: inline-block;
  width: max-content;
}
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type="file"]:focus + label {
  outline: 2px solid rgb(177, 222, 236);
}

img {
  position: absolute;
  top: 50px;
  left: 50px;
  max-width: 800px;
  max-height: 800px;
}
.leftItem {
  display: inline-block;
  width: 150px;
  justify-content: start;
  flex-direction: column;
  height: 1000px;
}
[class*="output"] {
  width: 30px;
  height: 30px;
  margin: 1px;
}
.colorData {
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
}
canvas {
  border: 1px solid black;
  /* background: repeating-linear-gradient(45deg, #e9eaee, #e9eaee 10px, #393b44 10px, #393b44 20px); */
}
.main {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.selectedColors {
  width: 100px;
}
.output {
  cursor: pointer;
}
button {
  padding: 4px;
  cursor: pointer;
  font-family: monospace;
  background: red;
  border: none;
  color: white;
  margin: 2px;
  display: block;
  border-radius: 2px;
  font-weight: 700;
}
button:disabled {
  background: tomato;
  cursor: default;
}
button:focus {
  outline: 2px solid rgb(177, 222, 236);
}
